/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 18, 2015, 3:26:38 PM
    Author     : colin
*/

/* Portrait and Landscape iPhone 4/s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      body{
        margin-left: 4%;
        margin-right: 4%;
      }
}

/* Portrait and Landscape iPhone 5/s */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
      body{
        margin-left: 4%;
        margin-right: 4%;
      }
}

/* Portrait and Landscape iPhone 6/s */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      body{
        margin-left: 5%;
        margin-right: 5%;
      }
}
/* Portrait and Landscape iPhone 6+ */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
      body{
        margin-left: 4%;
        margin-right: 4%;
      }
}

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
      body{
        margin-left: 4%;
        margin-right: 4%;
      }
}